*{
    font-family:'Montserrat', sans-serif;
}
.navi-color{
    width: 100%;
    height: 600px;
    background-color: #070d59;
    position: relative;
}
.navi-txt{
    position: absolute;
    color: white;
    top: 20px;
    left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap :490px;
}
.navi-txt h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    
}
.container-1{
    position: absolute;
    top: 150px;
    left: 400px;
}
.container-1 span{
    color: white;
    font-size: 70px;
    font-weight: bolder;
}
.container-1 p{
    color: white;
}
.container-1 input{
    color: #788b9e;
}