
.book-img{
    position: relative;
    object-fit: cover;
}
.book-img-over{
    position: absolute;
    background-color: rgba(1, 7, 16, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
.book-btn{
    background-color:#ffb606 ;
    padding: 15px;
    width: 150px;
    border:#ffb606;
}
.book-btn:hover{
    background: transparent;
    border: 1px solid #ffb606;
    color: #ffb606;
    cursor: pointer;
}
.book-txt{
   position: absolute;
   color: white;
   left: 420px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  
}
.book-t{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary-color{
    color: #ffb606;
}
.book-t span{
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}
.book-t p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}