.food-bg{
    height: 1000px;
    width: 100%;
    border: none;
    background-image: url(../navigation/images/images/food-bg.png.webp);
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
}
.display-menu {
    position: absolute;
    left: 140px;
    width: 450px;
    height: 260px;
    margin-top: 100px;
}

.display-menu h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.display-menu p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.header-txt-color {
    color: #ffb606;

}

.food {
    position: absolute;
    top: 300px;
    left: 140px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.food-1,
.food-2,
.food-3,
.food-4,.food-5,.food-6 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: none;
}

.food-txt-name {
    display: flex;
    align-items: center;
    gap: 40px;
}

.food-txt-name h4 {
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 700;
}

.food-txt-name span {
    color: #ffb606;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.food-txt {
    background-color: #f9f9ff;
    padding: 25px;
    overflow: hidden;
    margin-top: -10px;
}

.food-txt p {
    color: grey;
}

