.navigation {
    width: 90%;
    height: 80px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    margin: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li {
    display: inline-block;
    position: relative;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav ul li:hover>ul {
    display: block;

}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    width: 200px;
}

nav ul ul li {
    display: block;
}
.dropdown-menu a:hover{
    color: #ffb606;
}
/* menu */
.main-menu-icon {
    display: none;
}

.header-img {
    position: relative;
    width: 100%;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 930px;
}

.header-txt {
    position: absolute;
    top: 330px;
    left: 450px;
    color: white;
    text-align: center;
}

.header-txt-color {
    color: #ffb606;
    font-style: italic;
}

.header-txt h6 {
    font-family: roboto, sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    text-transform: uppercase;
}

.header-txt h1 {
    font-family: playfair display, serif;
    font-style: italic;
    font-size: 60px !important;
    font-weight: 700;
}

.header-txt-color-1 {
    color: white;
}

.container-2 {
    display: flex;
    gap: 50px;
    margin-top: 70px;
    margin: auto;
    width: 90%;
}

.book-btn {
    background-color: #ffb606;
    width: 150px;
    border: 1px solid transparent;
    padding: 15px;
    color: #131230;
    transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.book-btn:hover {
    background-color: white;
    border: 1px solid #ffb606;
    cursor: pointer;
}

.container-txt-2 {
    width: 460px;
    height: 580px;
    margin-top: 100px;
}

.container-txt-2 h3 {
    font-family: playfair diplay, serif;
    font-size: 36px !important;
    font-weight: 700;
    font-style: italic;

}

.container-txt-2 p {
    font-family: roboto, sans-serif;
    color: gray;
    font-size: 14px;
    font-weight: 400;

}
/* container */
.menu-background {
    position: relative;
    float: right;
}

.display-menu {
    position: absolute;
    left: 140px;
    width: 450px;
    height: 260px;
}

.display-menu h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.display-menu p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 980px) {
    .main-menu-icon {
        display: block;
        float: right;
        height: 40px;
        width: 40px;
        border-radius: 3px;
        background-color: #ffb606;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-bars {
        color: white;
    }

    .nav-2 {
        display: none;
    }
}