.book-img{
    background: rgba(1, 7, 16, 0.7);
}
.container {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    /* Color you want */
    background-image: url('../images/banner-bg.jpg.webp');
    /* Image you want to overlay */
    background-size: cover;
    /* Cover the whole container */
    background-position: center;
    /* Center the background image */
    position: relative;
    overflow: hidden;
    /* Ensure the image doesn't overflow */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Text color */
    text-align: center;
}