* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  background-color: #f8f9fa;
}

.user-img {
  background-image: url(./image/bg_1.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.user-img,
.user-img-overlay {
  height: 800px;
  width: 100%;
  /* max-width: 1400px;
  margin: auto; */
}

.user-img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  opacity: 0.8;
}

.nav-logo {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.nav-logo:hover {
  color: #000000;
}

.nav-bar {
  position: absolute;
  top: 20px;
  left: 50px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 480px;
  /* width: 100%;
  max-width: 1200px;
  margin: auto; */
}

.home,
.home-txt p,
.number-txt {
  color: rgba(255, 255, 255, 0.5);
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding: 20px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

ul li:hover {
  color: #fdab44;
}

.btn-1,
.btn-2,
.find-btn {
  padding: 13px;
  border: 1px solid transparent;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
}

.btn-1 {
  color: white;
  background-color: #207dff;
  border-radius: 5px;
}

.btn-2 {
  color: white;
  background-color: #fdab44;
  border-radius: 5px;
}

.home-txt {
  position: absolute;
  left: 155px;
  top: 180px;
  text-align: center;
  /* width: 100%;
  max-width: 1200px;
  margin: auto; */
}

.home-txt p {
  font-size: 16px;
  font-weight: 400;
}

.home-txt small {
  color: white;
  font-size: 54px;
  font-weight: 400;
  line-height: 2;
}

.globe,
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  justify-content: center;
  gap: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.number {
  color: white;
  font-weight: 600;
  font-size: 34px;
}

.number-txt {
  font-size: 18px;
}

.finds-btn {
  margin-top: 30px;
}

.find-btn {
  color: black;
  width: 130px;
  background-color: white;
}

.candidate-btn {
  color: white;
  background-color: #fdab44;
  padding: 13px;
  border: 1px solid transparent;
  width: 180px;
}

.find-btn,
.candidate-btn {
  font-size: 16px;
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.candidate-btn:hover {
  color: black;
  background-color: white;
}

.search-box {
  width: 1000px;
  height: 90px;
  border-radius: 7px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.search-box-input,
.search-box-selector,
.search-box-location {
  width: 200px;
  padding: 15px;
  border: 1px solid lightgrey;
  color: lightgray;
  border-radius: 3px;
}

.search-btn {
  width: 200px;
  padding: 15px;
  border-radius: 3px;
  border: none;
  background-color: #207dff;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.icon-brief {
  position: absolute;
  left: 0;
  top: 2px;
}

.position {
  display: flex;
  position: absolute;
  top: 710px;
  left: 115px;
}

.position-box,
.position-box-orange {
  height: 230px;
  width: 180px;
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.position-box-orange {
  background-color: #fdab44;
  color: white;
}

.position-box {
  background-color: white;
}

.position-box:hover,
.position-box-orange:hover {
  color: white;
  background-color: #207dff;
  border: none;
}

.position-box:hover,
.position-box-orange:hover {
  span {
    color: white;
  }
}

.position-box h4,
.position-box-orange h4 {
  font-size: 20px;
  font-weight: 400;
}

.position-box span,
.position-box-orange span {
  color: rgba(0, 0, 0, 0.7);
}

.fa-group,
.fa-calculator,
.fa-cutlery,
.fa-stethoscope {
  color: #207dff;
}

.search-box-text-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-category {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 200px;
}

.text-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-align span,
.recent-heading p,
.blog-h p {
  font-size: 12px;
  color: #206dfb;
  font-weight: 600;
  letter-spacing: 2px;
}

.text-align p,
.recent-heading span,
.blog-h span {
  font-size: 38px;
  font-weight: 500;
}

.recent-sec-heading {
  font-size: 24px;
  font-weight: 500;
}

.right-arrow {
  display: none;
}

.category-row {
  border-bottom: 1px solid #fdab44;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.category-open-position {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px;
  text-align: center;
}

.category-row {
  display: flex;
  align-items: center;
}

.category-row:hover {
  h4 {
    color: #207dff;
  }

  p {
    color: #000000;
  }

  background-color: #f8e5cd
}

.category-row:hover {
  .right-arrow {
    display: block;
  }
}

.open-position {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.category-open-position span {
  color: #fdab44;
  background-color: #fffaf5;
  padding: 7px;
}

.category-open-position p {
  color: rgba(0, 0, 0, 0.3);
}

.category-open-position h4 {
  color: #2b2525;
  font-size: 20px;
  font-weight: 400;
}

/* banner */
.banner {
  margin-top: 50px;
  height: 350px;
  width: 100%;
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
}

.banner-class {
  display: flex;
  padding: 90px;
  gap: 25px;
  /* width: 100%;
  max-width: 1200px;
  margin: auto; */
}

.banner-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.banner-txt span {
  font-size: 18px;
  font-weight: 700;
}

.banner-txt p {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

/* recent */
.recent-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.recent-first {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-sub-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent-inner-con {
  height: 150px;
  width: 700px;
  background-color: white;
  display: flex;
  gap: 150px;
  justify-content: space-around;
  align-items: center;
}

.open-source {
  display: flex;
  gap: 15px;
}

.recent-inner-con span {
  color: #206dfb;
  font-weight: 500;
  font-size: 14px;
}

.recent-inner-con p {
  font-size: 28px;
  font-weight: 400;
}

.recent-inner-con a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.heart {
  display: none;
}

.fa-heart {
  color: white;
  background-color: #fdab44;
  padding: 10px;
  border-radius: 50%;

}

.heart-hover {
  display: flex;
  gap: 10px;
}

.recent-inner-con:hover {
  .heart {
    display: block;
  }

  box-shadow: 0 0 10px 8px #f0ecec
}

.recent-apply {
  padding: 10px;
  background-color: #207dff;
  border-radius: 5px;
  border: none;
  color: white;
}

.recent-sec-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recent-recrut-company {
  font-size: 20px;
  font-weight: 500;
}

.recent-recrut-open {
  background-color: #f0bf84;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.recent-recrut-position {
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.recent-sec-top-recruit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* blog */
.blog-main {
  margin-top: 100px;
}

.blog {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.blog-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.blog-box {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-admin {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}

.blog-admin-p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

/* subscribe */
.subcribe {
  height: 350px;
  width: 100%;
  background-color: #207dff;
}

.sub-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  color: white;
  gap: 15px;
}

.sub-txt p {
  font-size: 38px;
  font-weight: 400;
}

.sub-txt span {
  text-align: center;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
}

.sub-txt a {
  font-size: 18px;
}

.sub-input,
.sub-input-btn {
  padding: 20px;
  border: none;
}

.sub-input {
  width: 470px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sub-input-btn {
  background-color: #fdab44;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-sub h6 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 400;
}

.footer-sub p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram {
  color: #207dff;
  background-color: rgb(240, 233, 233);
  padding: 10px;
  border-radius: 50%;
}

.fa-map-marker,
.fa-phone,
.fa-envelope {
  color: rgba(0, 0, 0, 0.4);
}

.footer-icon {
  display: flex;
  gap: 10px;
}

.question-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-para {
  line-height: 1.8;
}

/* about click text */
.about-txt {
  display: none;
}

.about-text-absolute {
  position: absolute;
  left: 525px;
  top: 280px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: white;
  align-items: center;
}
.about-text-absolute p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}
.about-text-absolute span{
  font-size: 50px;
  font-weight: 400;
}
.about-txt-row{
  display: flex;
  gap: 10px;
}
/* about click sec column */
.about-sec-click-main{
  display: none;
}
.about-sec-click-column{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-click-browse{
  height: 300px;
  width: 250px;
  background-color: white;
}
.about-click-browse-txt{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}.about-click-browse-txt h6{
  font-size: 19px;
  font-weight: 400;
}
.about-click-browse-search{
  padding: 13px;
  border-radius: 5px;
  width: 180px;
  border: 1px solid  #999999;
}
.checkbox-row{
  display: flex;
  gap: 10px;
  color: #999999;
}
/* previous next btn */
.previous-nxt-btn-main{
  display: none;
}
.previous-nxt-btn{
  display: flex;
  gap: 5px;
}
.previous-border{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b6cffe;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #206dfb;
}
.previous-one{
  background-color: #206dfb;
  color: white;
}