/* navigation */
.navigation {
  width: 90%;
  height: 80px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  margin: auto;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.dropdown {
  float: right;
  overflow: hidden;

}

.dropdown .drop-btn {
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: white;
}

.drop-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
}

.dropdown:hover .drop-btn {
  background-color: white;
}

.drop-content a:hover {
  color: #ffb606;
}

.dropdown:hover .drop-content {
  display: block;
}

.main-menu-icon {
  display: none;
}

.header-img {
  position: relative;
  width: 100%;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 930px;
}

.header-txt {
  position: absolute;
  top: 330px;
  left: 450px;
  color: white;
  text-align: center;
}

.header-txt-color {
  color: #ffb606;
  font-style: italic;
}

.header-txt h6 {
  font-family: roboto, sans-serif;
  font-size: 16px !important;
  font-weight: 300;
  text-transform: uppercase;
}

.header-txt h1 {
  font-family: playfair display, serif;
  font-style: italic;
  font-size: 60px !important;
  font-weight: 700;
}

.header-txt-color-1 {
  color: white;
}

.container-2 {
  display: flex;
  gap: 50px;
  margin-top: 70px;
  margin: auto;
  width: 90%;
}

.book-btn {
  background-color: #ffb606;
  width: 150px;
  border: 1px solid transparent;
  padding: 15px;
  color: #131230;
  transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  transition: 0.5s;
}

.book-btn:hover {
  background-color: white;
  border: 1px solid #ffb606;
  cursor: pointer;
}

.container-txt-2 {
  width: 460px;
  height: 580px;
  margin-top: 100px;
}

.container-txt-2 h3 {
  font-family: playfair diplay, serif;
  font-size: 36px !important;
  font-weight: 700;
  font-style: italic;

}

.container-txt-2 p {
  font-family: roboto, sans-serif;
  color: gray;
  font-size: 14px;
  font-weight: 400;

}

/* container
.container-3 {
  background-image: url(../food-website/images/food-bg.png.webp);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.display-menu {position: absolute;
  width: 450px;
  height: 250px;
  margin-left: 110px;
  margin-top: 50px;
}
.display-menu h3 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
}
.display-menu p {
  color: grey; 
}
.sale-post{
  position: absolute;
  margin-top: 300px;
} */
/* reservation area */
.reservation-img {
  object-fit: cover;
  position: relative;
}

.reservation-txt {
  position: absolute;
  left: 350px;
  top: 130px;
  color: white;
  text-align: center;
}

.reservation-txt span {
  font-family: "Playfair Display", serif;
  font-size: 42px !important;
  font-weight: 700;
}

.reservation-txt p {
  font-family: "Roboto", sans-serif;
  font-size: 24px !important;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

.reservation-btn {
  background: #ffb606;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  width: 140px;
  border: #ffb606 ;
}
.reservation-btn:hover{
  background: transparent;
  border: 1px solid #ffb606;
  color: #ffb606;
  cursor: pointer;
}
/* special txt */
.primary-color{
  color: #ffb606;
}
.special-center-txt{
  text-align: center;padding-top: 100px;
}
.special-center-txt span{
  font-family: "Playfair Display", serif;
  font-size: 36px !important;
  font-weight: 700;
}
.special-center-txt p{
  font-style: italic;
  color: gray;
   font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* dishes */
.dish h1{
    font-size: 60px;
    font-family: "Playfair Display",serif;
    font-weight: 700;
}
.dish span{
  font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.dish p{
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.dish h5{
  color: #ffb606;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.dishes-1{
  display: flex;
}
.fa-long-arrow-right{
position: absolute;
animation: animation 2s;
}

@media (max-width: 980px) {
  .main-menu-icon {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #ffb606;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-bars {
    color: white;
  }

  .nav-2 {
    display: none;
  }
}