.banner_relative{
    position: relative;
    margin-bottom: 30px;
}
.banner_absolute{
    position: absolute;
    left: 130px;
    top: 80px;
    color: white;
}
.banner_head{
    font-size: 16px;
   text-transform: uppercase;
}
.banner_para{
    font-size: 58px;
    font-weight: 700;
}
.banner_btn{
    width: 130px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}