.gallery_span_head{
    text-align: center;
}
.gallery_span_main{
    margin-top: 150px;
}
.gallery_col{
    // display: flex;
    // flex-direction: column;
}
.gallery_main_src{
    display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    justify-content: center;
    align-items: center;
}                                                                                                                                                                   
