@import "./navi";
@import "./video";
@import "./banner";
@import "./bannerarea";
@import "./galleryspan";
@import "./rating";
@import "./travel";
@import "./footer";
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}