.footer {
    height: 400px;
    width: 100%;
    background-color:#131230;
    display: flex;
    justify-content: center;
    align-items: center;gap: 130px;

}
.footer-1,.contact,.operating-hours{
    height: 200px;
    width: 290px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-1 p {
    color: #777;
    line-height: 1.5;
}

.contact {
    display: flex;
    flex-direction: column;
    color: #777;
}

.contact-1,
.contact-2,
.contact-3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.operating-hours span,
.contact span {
    color: #ffb606;
    font-family: "Playfair Display", serif;
    font-size: 20px !important;
    font-weight: 700;
}

.operating-hours p {
    color: #777;
}