/* navigation */
.navigation {
    width: 90%;
    height: 80px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    margin: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline-block;
    position: relative;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav ul li:hover>ul {
    display: block;

}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    width: 200px;
}

nav ul ul li {
    display: block;
}

.dropdown-menu a:hover {
    color: #ffb606;
}

.main-menu-icon {
    display: none;
}

.header-img {
    position: relative;
    width: 100%;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 930px;
}

.header-txt {
    position: absolute;
    top: 330px;
    left: 380px;
    color: white;
    text-align: center;
}

.header-txt-color {
    color: #ffb606;
    font-style: italic;
}

.header-txt h6 {
    font-family: roboto, sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    text-transform: uppercase;
}

.header-txt h1 {
    font-family: playfair display, serif;
    font-style: italic;
    font-size: 60px !important;
    font-weight: 700;
}

.header-txt-color-1 {
    color: white;
}

.container-2 {
    display: flex;
    gap: 50px;
    margin-top: 70px;
    width: 90%;
    justify-content: center;
}

.book-btn {
    background-color: #ffb606;
    width: 150px;
    border: 1px solid transparent;
    padding: 15px;
    color: #131230;
    transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.book-btn:hover {
    background-color: white;
    border: 1px solid #ffb606;
    cursor: pointer;
}

.container-txt-2 {
    width: 460px;
    height: 580px;
    margin-top: 100px;
}

.container-txt-2 h3 {
    font-family: playfair diplay, serif;
    font-size: 36px !important;
    font-weight: 700;
    font-style: italic;

}

.container-txt-2 p {
    font-family: roboto, sans-serif;
    color: gray;
    font-size: 14px;
    font-weight: 400;

}

/* container */
.menu-background {
    position: relative;
    float: right;
}

.display-menu {
    position: absolute;
    left: 140px;
    width: 450px;
    height: 260px;
}

.display-menu h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.display-menu p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* container-2 */
.food-container {
    margin-top: -130px;
    height: 1450px;
    width: 100%;
}

.food-bg {
    height: 1000px;
    width: 100%;
    border: none;
    background-image: url(../navigation/images/images/food-bg.png.webp);
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
}

.display-menu {
    position: absolute;
    left: 140px;
    width: 450px;
    height: 260px;
    margin-top: 100px;
}

.display-menu h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.display-menu p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.header-txt-color {
    color: #ffb606;

}

.food {
    position: absolute;
    top: 300px;
    left: 140px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.food-1,
.food-2,
.food-3,
.food-4,
.food-5,
.food-6 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: none;
}

.food-txt-name {
    display: flex;
    align-items: center;
    gap: 40px;
}

.food-txt-name h4 {
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 700;
}

.food-txt-name span {
    color: #ffb606;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.food-txt {
    background-color: #f9f9ff;
    padding: 25px;
    overflow: hidden;
    margin-top: -10px;
}

.food-img {
    overflow: hidden;
}

.food-img img {
    transition: transform 0.3s ease;
}

.food-1:hover,
.food-2:hover,
.food-3:hover,
.food-4:hover,
.food-5:hover,
.food-6:hover {
    .food-txt {
        background-color: #ffb606;
    }

    .food-txt-name span,
    .food-txt p {
        color: #01010e;
    }

    .food-img img {
        transform: scale(1.1);
    }
}

.food-txt p {
    color: grey;
}

/* reservation */
.reservation-img {
    position: relative;
}

.reservation-txt {
    position: absolute;
    color: white;
    left: 400px;
    top: 60px;
    text-align: center;
}

.reservation-txt span {
    font-family: "Playfair Display", serif;
    font-size: 42px !important;
    font-weight: 700;
}

.reservation-txt p {
    font-family: "Roboto", sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

.reservation-btn {
    background: #ffb606;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    width: 140px;
    border: #ffb606;
}

.reservation-btn:hover {
    background: transparent;
    border: 1px solid #ffb606;
    color: #ffb606;
    cursor: pointer;
}

/* dishes */
.primary-color {
    color: #ffb606;
}

.special-center-txt {
    text-align: center;
    padding-top: 100px;
}

.special-center-txt span {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.special-center-txt p {
    font-style: italic;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* dishes */
.dish-txt {
    height: 380px;
    width: 450px;
    border: none;
    display: flex;
}

.num {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.dish {
    margin-top: 70px;
}

.green,
.primary-color {
    font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 700;


}

.dish-para {
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.price {
    color: #ffb606;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.dish-book {
    color: #131230;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.dishes-1,
.dishes-2 {
    display: flex;
    gap: 130px;
}

.main-dish {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}


/* customer */
.customer {
    margin-top: 50px;
}

.customer-img {
    position: relative;
}

.customer-over {
    position: absolute;
    background-color: rgba(1, 7, 16, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;

}

.primary-color {
    color: #ffb606;
}

.customer-over span {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.customer-over p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.customer-over-txt {
    position: absolute;
    top: 170px;
    left: 430px;
    color: white;
    text-align: center;
}

/* update */
.update {
    margin-top: 50px;
}

.card-update {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.update-card {
    height: 500px;
    width: 350px;
    border: none;
    background-color: rgb(248, 242, 242);

}

.update-card-img {
    border-style: none;
}

.update-card:hover {
    background-color: white;
}

.update-inner-txt,
.admin,
.calendar {
    display: flex;
    gap: 20px;
    align-items: baseline;

}

.admin,
.calendar,
.food-update {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.update-card-txt {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 30px;
    margin-top: -10px;
}

.update-card-txt:hover {
    box-shadow: 0px 10px 10px 10px #bdb9b9;
}

.primary-color {
    color: #ffb606;
}

.update-top {
    text-align: center;
}

.update-top span {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.update-top p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.finer-food {
    color: #131230;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-size: 20px !important;
    font-weight: 700;
}

.read {
    color: #131230;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.fa-long-arrow-right:hover {
    color: #ffb606;
}

/* book */
.book {
    margin-top: 100px;
}

.book-img {
    position: relative;
    object-fit: cover;
}

.book-img-over {
    position: absolute;
    background-color: rgba(1, 7, 16, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

.book-btn {
    background-color: #ffb606;
    padding: 15px;
    width: 150px;
    border: #ffb606;
}

.book-btn:hover {
    background: transparent;
    border: 1px solid #ffb606;
    color: #ffb606;
    cursor: pointer;
}

.book-txt {
    position: absolute;
    color: white;
    left: 420px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.book-t {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-color {
    color: #ffb606;
}

.book-t span {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.book-t p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.book-icon {
    display: flex;
}

.book-input {
    position: relative;
    outline: 0;
}

.input {
    padding: 10px;
    border-radius: 5px;
}

.icon-calendar {
    position: absolute;
    left: 10px;
    top: 10px;
    color: black;
}

/* footer */
.footer {
    height: 400px;
    width: 100%;
    background-color: #131230;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: -10px;

}

.footer-1,
.contact,
.operating-hours {
    height: 200px;
    width: 290px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-1 p {
    color: #777;
    line-height: 1.5;
}

.contact {
    display: flex;
    flex-direction: column;
    color: #777;
}

.contact-1,
.contact-2,
.contact-3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.operating-hours span,
.contact span {
    color: #ffb606;
    font-family: "Playfair Display", serif;
    font-size: 20px !important;
    font-weight: 700;
}

.operating-hours p {
    color: #777;
}

/* copyright */
.copy-right {
    height: 100px;
    width: 100%;
    background-color: #01010e;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.colorlib {
    color: rgb(73, 73, 226);
}

.colorlib:hover {
    color: rgb(9, 9, 173);
}

.copy-txt p {
    color: white;
}

.fa-heart {
    border: white;
}

.follow {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.follow-icon {
    font-size: 14px;
    gap: 20px;
    display: flex;


}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-pinterest:hover,
.fa-instagram:hover {
    color: #ffb606;
}

@media(max-width:1115px) {
    .header-txt {
        left: 250px;
    }

    .container-txt-2 p {
        line-height: 1.5;
    }

    .container-img-2 img {
        height: 450px;
        width: 450px;
        margin-top: 90px;
    }

    .food-container {
        margin-top: -190px;
    }

    .food,
    .display-menu {
        left: 40px;
    }

    .food-1,
    .food-2,
    .food-3,
    .food-4,
    .food-5,
    .food-6 {
        width: 300px;
        height: 450px;
    }

    .food-txt-name {
        gap: 30px;
    }

    .reservation-img img {
        height: 400px;
    }

    .reservation-txt {
        left: 269px;
        top: 111px;
    }

    .reservation-txt span {
        font-size: 35px !important;
    }

    .reservation-txt p {
        font-size: 20px !important;
    }

    .dishes-1,
    .dishes-2 {
        gap: 50px;
    }

    .customer-over-txt {
        left: 330px;
    }

    .update-card {
        height: 520px;
        width: 300px;
    }

    .book-txt {
        left: 240px;
    }

    .footer {
        gap: 50px;
    }

}

@media(max-width: 1025px) {
    .food-bg {
        background-image: none;
    }

    .food-1,
    .food-2,
    .food-3,
    .food-4,
    .food-5,
    .food-6 {
        width: 250px;
        height: 410px;
    }

    .food,
    .display-menu {
        left: 90px;
    }

    .update-card {
        height: 500px;
        width: 250px;
    }
}

@media (max-width: 980px) {
    .main-menu-icon {
        display: block;
        float: right;
        height: 40px;
        width: 40px;
        border-radius: 3px;
        background-color: #ffb606;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-bars {
        color: white;
    }

    .nav-2 {
        display: none;
    }

    .container-img-2 img {
        height: 400px;
        width: 400px;
    }

    .container-txt-2 h3,
    .display-menu h3,
    .num,
    .green,
    .primary-color {
        font-size: 30px !important;
    }

    .container-txt-2 p,
    .display-menu p,
    .dish-para,
    .price {
        font-size: 12px;
    }

    .book-btn {
        padding: 10px;
        width: 130px;
    }

    .food {
        margin-top: 30px;
    }

    .dish-img img {
        height: 350px;
        width: 350px;
    }

    .dish {
        margin-top: 50px;
    }

    .dishes-1,
    .dishes-2 {
        gap: 20px;
    }
}

@media(max-width:930px) {
    .header-txt {
        left: 195px;
        top: 290px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-img-2 img {
        height: 550px;
        width: 550px;
    }

    .container-txt-2 h3,
    .display-menu h3,
    .num,
    .green,
    .primary-color {
        font-size: 40px !important;
    }

    .container-txt-2 p,
    .display-menu p,
    .dish-para,
    .price {
        font-size: 15px;
    }

    .food-1,
    .food-2,
    .food-3,
    .food-4,
    .food-5,
    .food-6 {
        width: 350px;
        height: 400px;
    }

    .food-img img {
        width: 350px;
    }

    .food {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 130px;
        gap: 10px;
    }

    .reservation {
        margin-top: 300px;
    }

    .reservation-txt {
        left: 220px;
    }

    .card-update {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .update-card {
        height: 480px;
        width: 350px;
        margin-left: 30px;
    }

    .customer-over-txt {
        left: 250px;
    }

    .book-txt {
        left: 160px;
    }
}

@media(max-width:850px) {
    .header-txt h1 {
        font-size: 45px !important;
    }

    .food-1,
    .food-2,
    .food-3,
    .food-4,
    .food-5,
    .food-6 {
        width: 300px;
        height: 400px;
    }

    .food-img img {
        width: 300px;
    }

    .reservation-txt {
        left: 140px;
    }

    .dishes-1,
    .dishes-2 {
        display: flex;
        flex-direction: column;
    }

    .customer-over-txt {
        left: 195px;
    }

    .card-update {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .book-txt {
            left: 145px;}
}