table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.main-container-interview-questions {
  max-width: 1200px;
  width: 75%;
  margin: auto;
}

pre {
  padding: 15px;
  background-color: #0000001c;
  color: #100f0f;
  display: inline-block;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: now;
  width: 600px;
}

h4 {
  color: #2097f3;
}

p {
  color: #797979;
  line-height: 25px;
}

li {
  color: #797979;
}

h6 {
  color: #2097f3;
}

.main-heading-interview-questions-answers {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
  margin-bottom: 12px;
}

.main-heading-q-a {
  text-align: center;
  color: #2097f3;
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.img-class-language-logo {
  height: 300px;
  width: 300px;
}

@media (max-width: 900px) {
  .main-heading-interview-questions-answers {
    flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .main-container-interview-questions {
    width: 90%;
  }
}

@media (max-width: 600px) {
  pre {
    width: 450px;
  }
}

@media (max-width: 500px) {
  pre {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .img-class-language-logo {
    height: 265px;
    width: 240px;
  }

  pre {
    width: 300px;
  }
}