.primary-color {
    color: #ffb606;
}

.special-center-txt {
    text-align: center;
    padding-top: 100px;
}

.special-center-txt span {
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}

.special-center-txt p {
    font-style: italic;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* dishes */
.dish-txt{
    height: 380px;
    width: 480px; 
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.num {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.dish{
    margin-left: 70px;
}

.green ,.primary-color{
    font-size: 36px;
    font-family: "Playfair Display", serif;
    font-weight: 700;

    
}

.dish-para{
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.price{
    color: #ffb606;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.dish-book{
    color: #131230;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.dishes-1 {
    display: flex;
    margin-right: 100px;margin-top: 50px;
    gap: 130px;
}
.dishes-2{
    display: flex;
    margin-left:110px ;
    gap: 40px;
}
