.customer-img{
    position: relative;
}
.customer-over{
    position: absolute;
    background-color: rgba(1, 7, 16, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    
}
.primary-color{
    color:#ffb606 ;
}
.customer-over span{
    font-family: "Playfair Display", serif;
    font-size: 36px !important;
    font-weight: 700;
}
.customer-over p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.customer-over-txt{
    position: absolute;
    top: 170px;
    left: 430px;
    color: white;
    text-align: center;
}