.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
.nav1 {
  margin-left: 40px;
}
.nav2 {
  font-size: "Montserrat", "sans-serif";
}
.fa-search {
  position: relative;
}
.search-bar {
  position: absolute;
  top: 33px;
  right: 0;
  width: 18px;
  height: 18px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
}
.home {
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  border-width: 4px;
  text-underline-offset: 5px;
}
.nav3 {
  display: flex;
  gap: 10px;
}
.container-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  margin: auto;
}
.box-1 {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}
.girl {
  position: absolute;
  top: 130px;
  left: 80px;
}
.box-2 {
  position: relative;
}
.men {
  position: absolute;
  top: 50px;
  left: 30px;
}
.box-3 {
  position: relative;
}
.kid {
  position: absolute;
  top: 50px;
  left: 30px;
}
.box-4 {
  position: relative;
}
.cos {
  position: absolute;
  top: 50px;
  left: 30px;
}
.box-5 {
  position: relative;
}
.access {
  position: absolute;
  top: 50px;
  left: 30px;
}
.item {
  color: grey;
}
.shop {
  font-size: small;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  border-width: 4px;
  text-underline-offset: 5px;
  font-family: sans-serif;
}
.category {
  font-family: cookie, cursive;
  font-size: 20px;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
.navigation-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigat {
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  border-width: 4px;
  text-underline-offset: 5px;
}
.container-2 {
  max-width: 1200px;
  margin: auto;
}
.sale-post {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.product-star {
  display: flex;
  flex-direction: row;
}
.price {
  color: gray;
  text-decoration: line-through;
}
.fa-star {
  color: gold;
  font-size: small;
}
.content-3 {
  position: relative;
}
.content {
  margin: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contentt-3 {
  position: absolute;
  top: 150px;
  left: 500px;
  justify-content: center;
  text-align: center;
}
.banner-1 {
  color: red;
}

.banner-2 {
  font-size: 45px;
  font-family: cookie, cursive;
}
.trend-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.trend-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.trend-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seller-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seller-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.seller-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.feature-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.feature-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.feature-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.trend--1 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.trend--2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.trend--3 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.seller--1 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.seller--2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.seller--3 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.feature--1 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.feature--2 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.feature--3 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.hot-trend {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.best-seller {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Feature {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.suggestion {
  text-transform: uppercase;
  font-weight: 600px;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  border-width: 4px;
  text-underline-offset: 5px;
}
.timer{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
  gap: 10px;
}
.timer-1{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
 
}
.time-num{
  font-size: larger;
  font-weight: 600;
}
.service-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.service-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.service-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.service-4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}
.service-sec {
  color: grey;
}
.discount {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.image {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}
.discount-box {
  background: lightgray;
  height: 390px;
  width: 595px;
  border: 1px;
}
.discount-circle {
  background: white;
  height: 183px;
  width: 183px;
  border-radius: 50%;
  margin-left: 210px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.discount-text {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.dis-text {
  font-size: 26px;
  font-family: cookie, cursive;
  color: red;
}
.dis-shop {
  margin-left: 266px;
  text-decoration: underline red;
  text-decoration-thickness: 2px;
  border-width: 4px;
  text-underline-offset: 5px;
}
.fa-money {
  color: red;
}
.fa-car {
  color: red;
}
.fa-support {
  color: red;
}
.fa-headphones {
  color: red;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
  max-width: 1200px;
  margin: auto;
}
.btn-1 {
  padding: 10px;
  border-radius: 40px;
  border-color: rgb(250, 245, 246);
  width: 221px;
}
.footer-div {
  position: relative;
}
.btn-2 {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  background: rgb(153, 6, 6);
  padding: 10px;
  border-radius: 40px;
  border-color: lightgray;
}
.foot-logo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.foot-payment {
  display: flex;
  column-gap: 5px;
}
.link {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.facebook {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitter {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-logo-2 {
  display: flex;
  gap: 10px;
}
/* .website {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
/* @media (max-width: 1000px) {
  .container-1 {
    font-size: small;
  }
} */
